/* Main styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300');

/* Variables */

:root {
  --color-win: #78CF82;
  --color-lose: #D94545;
  --color-start: #5b85b7;
  --color-neutral: #445069;
  --color-neutral-light: #D2D2D2;
  --color-keys: rgb(32, 38, 41);
  --color-keys-light: rgb(190, 150, 150);
  --font-size-large: 60px;
  --font-size-almost-large: 40px;
  --font-size-medium: 20px;
  --transition: all .2s ease-in-out;
}

/* main */

* {
  box-sizing: border-box;
  font-family: "Comic Sans MS", cursive, sans-serif;
  
}

body {
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  height: 100vh;
  background: linear-gradient(145deg,rgb(136, 33, 33),#07276b);
  background-size: 150% 150%; 
}

li, ol, ul {
  padding: 0;
  display: inline-block;
  font-size: 30px;
}

h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: var(--font-size-large);
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin: 0;
  color: #4ac0d5;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

button {
  margin: 6px;
  border: 2px solid thick;
  border-color : black;
  padding: .5rem 1rem;
  color: var(--color-keys);
  font-size: var(--font-size-medium);
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color-keys-light);
  border-radius: 5px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  cursor: pointer;
}

button:hover {
  background-color: rgb(16, 0, 104); /* Green */
  color: white;
}

#btn__reset {
	width: 200px;
	margin: 0 auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  max-height: 900px;
  text-align: center;
}

.section {
  width: 100%;
  padding: 10px;
}

#phrase ul li{
  margin-top: 15px;
}

/* Title */

.header {
  color: #ada069;
}


/* Phrase */

.letter {
  font-size: var(--font-size-almost-large);
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 50%; 
  height: 65px;
  width: 65px;
  padding: 20px 1px 0 1px;
  margin-right: 2px;
  color: transparent;
  background: var(--color-neutral-light);
  border-radius: 5px;
}

.space {
  width: 25px;
}



.show {
  color: #fff;
  background-color: #4ac0d5;
  height: 65px;
  width: 65px;
  padding: 20px 1px 0 1px;
  margin-right: 2px;
  border-radius: 5px;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}


/* Keyboard */

.keyrow {
  display: flex;
  justify-content: center;
}

.chosen {
  background: #3a3f58;
  border-radius: 5px;
  font-size: var(--font-size-medium);
  color: #FFFFFF;
}

.wrong {
  background: #8d4b11;
  color: #FFFFFF;
}

.btn__reset {
  padding: 16px;
  margin: 50px auto;
  background: #f7a964;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  border-bottom: solid 4px rgba(0, 0, 0, .3);
  border-right: solid 3px rgba(0, 0, 0, .3)
}

.btn__reset:active {
  padding: 14px 16px 16px 14px;
  border-bottom: solid 4px rgba(0, 0, 0, 0);
  border-right: solid 3px rgba(0, 0, 0, 0);
}


/* Overlay */

#overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  color: rgb(87, 12, 58);
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
}

.title {
  color: rgb(149, 175, 2);
}

.start {
  background: linear-gradient(145deg,#252523,#40633c);
}

.start a {
  color: rgb(255, 255, 255);
}

.win {
  background: linear-gradient(145deg,#0e90db,#0804f1);
}

.win a {
  color: var(--color-win);
}

.lose {
  background: linear-gradient(145deg,#9c6010,#f10404)
}

.lose a {
  color: var(--color-lose);
}
